body{
  font-size: 16px;
}
p{
  font-size: 18px;
}

h3{
  padding: 1rem;
}
.text-justified{
  text-align: justify;
}
.class-hidden{
  display: none;
}
.map-table{
  margin: 0;
  padding: 0;
}
.table-entries{
  font-family: 'JetBrains Mono', monospace;
}
.matched-tick{
  color: green;
}
.font-wt-normal{
  font-weight: lighter;
  text-align: center;
}
.dont-care-color{
  color: red;
}
.form-control{
  font-family: 'JetBrains Mono', monospace;
}
.finalResults{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.n-reset{
  margin-bottom: 16px;
}
.accordion{
  padding-bottom: 0.75rem;
}
.rounded-result{
  /* height: 2.5rem; */
  border-radius: 1.5rem;
}
.result-check{
  width: 9rem;
}
.w-ninput{
  width: 50%;
}
.my-mt-cont{
  margin-top: 5rem;
}
